################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/publish
/src/.vs/PuppyProxy
/.vs/PuppyProxy
